h1 {
color:rgb(241, 172, 241);
font-family: 'Courier New', Courier, monospace;
font-size: 30px;
}
p{
color:plum;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
sans-serif;
font-size: 24px;
}
